P { color: red; }

h2 {color:rgb(5, 43, 117); }

h3 {color:rgb(33, 122, 180)}

main{color:rgb(87, 85, 85)}
#especial { 
    font-family: sans-serif;
    text-align: center;
}

body { 
    background-color: rgb(215, 255, 239);
   
}

.articulos{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
}